body {
    text-align: center;
}

div {
    background-color: #ffff00;
    font-size: 50px;
    text-shadow: 1px 1px 3px gray;
    text-align: center;
}

input[tpye=text] {
    width: 300px;
    margin: auto;
    text-align: center;
}